* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 100px;
  backdrop-filter: blur(20px);
  /* box-shadow: 10px 10px 10px #dddddd55,
    -10px -10px 10px #111; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 33px;
  list-style: none;
  font-size: 20px;
}

.navbar li .anchor-link {
  text-decoration: none;
  color: white;
}

.navbar li {
  position: relative;
  font: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.navbar li:hover {
  color: #050801 !important;
  border-radius: 10px;
  padding: 10px 10px;
  background: #6efaad;
  /* box-shadow: 0 0 5px #6efaad, 0 0 25px #6efaad,
    0 0 50px #6efaad, 0 0 200px #6efaad; */
  -webkit-box-reflect: below 1.5px
    linear-gradient(transparent, #0005);
}
.navbar li .anchor-link:hover {
  transition: 0.5s;
  color: #050801 !important;
  font-weight: 500;
}

/* after responsive */
.nav-mov-close {
  display: none;
}
.nav-mov-open {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    padding: 28px 50px;
  }
}
@media (max-width: 768px) {
  .nav-mov-open {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .nav-menu {
    position: fixed;
    right: -350px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 30px;
    transition: right 0.3s ease;
  }

  .anchor-link p {
    font-size: 1.6rem;
  }

  .nav-mov-close {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  .portfolio h1 {
    font-size: 1.2rem;
  }

  .nav-menu {
    width: 250px;
  }

  .nav-mov-open {
    width: 25px;
    height: 25px;
  }

  .nav-mov-close {
    width: 25px;
    height: 25px;
  }

  .anchor-link p {
    font-size: 1.4rem;
  }
}
