.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.resume-format {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
}
.test {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.resume-title h1 {
  text-align: center;
  font-size: 36px;
  /* margin-bottom: 60px; */
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6efaad;
  position: relative;
}
.resume-title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  height: 4px;
  width: 260px;
  background: #4d4949;
  border-radius: 2px;
}
.resume-title h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  height: 4px;
  width: 180px;
  background: #6efaad;
  border-radius: 50px;
  z-index: 1;
}
.resume-left,
.resume-right {
  width: 45%;
}

.resume-format h1 {
  font-size: 2rem;
}

.resume-format h3 {
  font-size: 1.4rem;
  color: #6efaad;
}

.resume-format h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.resume-format h5 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.resume-format p {
  font-size: 1rem;
  line-height: 1.6;
  color: #b3b3b3;
}

.degrees,
.knowledges {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.degree,
.knowledge {
  padding: 20px;
}

.resume-left {
  padding-right: 20px;
}

.resume-right {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .resume {
    margin: 50px 20px;
    gap: 40px;
  }

  .resume-format {
    flex-direction: column;
    padding: 30px;
    gap: 70px;
  }

  .resume-left,
  .resume-right {
    width: 100%;
    padding: 0;
  }

  .resume-title h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .resume-format h1 {
    font-size: 1.8rem;
  }

  .resume-format h3 {
    font-size: 1.2rem;
  }

  .resume-format h4 {
    font-size: 1rem;
  }

  .resume-format h5 {
    font-size: 0.9rem;
  }

  .resume-format p {
    font-size: 0.9rem;
  }

  .test img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 450px) {
  .resume {
    margin: 30px 10px;
    gap: 20px;
  }

  .resume-title h1 {
    font-size: 22px;
  }

  .resume-format {
    padding: 20px;
  }

  .resume-left,
  .resume-right {
    width: 100%;
    padding: 0;
  }

  .resume-format h1 {
    font-size: 1.5rem;
  }

  .resume-format h3 {
    font-size: 1rem;
  }

  .resume-format h4 {
    font-size: 0.9rem;
  }

  .resume-format h5 {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .resume-format p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .test img {
    width: 30px;
    height: 30px;
  }

  .degree,
  .knowledge {
    padding: 10px;
    margin-bottom: 10px;
  }

  .degrees,
  .knowledges {
    gap: 15px;
  }
}
