.about {
  padding: 60px 20px;
  background-color: black;
  font-family: "Helvetica", sans-serif;
  color: white;
}

.about-title h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6efaad;
  position: relative;
}

.about-title h1::after,
.about-title h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  height: 1px;
  background: #4d4949;
  border-radius: 2px;
}
.about-title h1::after {
  width: 220px;
}
.about-title h1::before {
  width: 100px;
  background: #6efaad;
  border-radius: 50px;
  z-index: 1;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 12px;
}

.about-left img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  object-fit: cover;
}

.about-right {
  max-width: 50%;
  margin-left: 40px;
}

.about-right h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.about-right h1 span {
  color: #6efaad;
}

.about-right h4 {
  font-size: 42px;
  font-weight: 600;
  color: #6efaad;
  margin-bottom: 25px;
}

.about-right p,
.about-intro p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #b3b3b3;
}

.about-intro {
  margin-bottom: 40px;
}

.about-intro p {
  font-size: 19px;
  margin: 5px 0;
}

.about-intro span {
  margin-left: 50px;
}

.about-resume a {
  color: #000;
  font-weight: 600;
}

.about-resume {
  background-color: #6efaad;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 180px;
  text-align: center;
  display: inline-block;
  transition: 0.5s ease;
}

.about-resume:hover {
  transform: scale(1.1);
  color: white;
}

/* Media Queries */
@media (max-width: 991px) {
  .about-right h1 {
    font-size: 36px;
  }
  .about-right h4 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .about-right p {
    font-size: 15px;
  }
  .about-left img {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .about-title h1 {
    font-size: 24px;
  }
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-right {
    margin-left: 0;
    margin-top: 30px;
  }
  .about-right p {
    text-align: start;
  }
  .about-resume {
    font-size: 15px;
  }
}
@media (max-width: 617px) {
  .about-right {
    max-width: 80%;
    margin-left: 30px;
  }
}
@media (max-width: 450px) {
  .about-right {
    max-width: 95%;
    margin-left: 20px;
  }
  .about-resume {
    font-size: 14px;
    margin: 20px auto;
  }
}
