.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6efaad;
  position: relative;
}
.mywork-title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  height: 1px;
  width: 350px;
  background: #4d4949;
  border-radius: 2px;
}
.mywork-title h1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  height: 1px;
  width: 160px;
  background: #6efaad;
  border-radius: 50px;
  z-index: 1;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mywork-container img {
  transition: 0.3s;
  width: 370px;
  height: 240px;
  box-sizing: border-box;
}
.mywork-container img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Add styles for the image hover effect and icon */
.image-container {
  position: relative;
}

.image-container img {
  transition: 0.3s;
  width: 370px;
  height: 240px;
  box-sizing: border-box;
  opacity: 1;
}

.image-container:hover img {
  opacity: 0.4;
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #fff;
  font-size: 24px;
}

.image-container:hover .hover-content {
  display: block; /* Show icon on hover */
}

.link-icon {
  color: #fff; /* Icon color */
  transition: 0.3s;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.link-icon:hover {
  color: #6efaad;
  border-color: #6efaad;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .mywork-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .mywork-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .mywork-title h1 {
    font-size: 24px;
  }
  .mywork-title h1::after {
    width: 200px;
  }
  .mywork-title h1::before {
    width: 100px;
  }
}
